<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <input type="button" value="Ajax" onclick="DoAjax();"/>
        <input type="button" value="JsonpAjaxJX" onclick="JsonpAjaxJX();"/>
        <script src="/statics/jquery-1.12.4.js"></script>
        <script>

            function list(dict) {
                console.log(dict)
            }
            function JsonpAjaxJX() {
                //  跨域访问：http://www.jxntv.cn/data/jmd-jxtv2.html?callback=list
//                var tag = document.createElement('script');
//                tag.src = 'http://www.jxntv.cn/data/jmd-jxtv2.html?callback=list';  // 对这个url默认用get方法去请求
//                document.head.appendChild(tag);
//                document.head.removeChild(tag);

                $.ajax({
                    url:"http://www.jxntv.cn/data/jmd-jxtv2.html?callback=list",
                    dataType: 'jsonp',
                    jsonpCallBack: 'list'
                })
            }

        </script>
</body>
</html>
