<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/home" method="POST">
        <input type="text" name="ip" placeholder="ip" />
        <input type="text" name="host" placeholder="host" />
        <p>
            <input type="checkbox" name="favor" value="1" />篮球；
            <input type="checkbox" name="favor" value="2" />足球；
            <input type="checkbox" name="favor" value="3" />羽毛球；
        </p>
        <!--当error_dict有值时再提示-->
        {% if error_dict %}
        <span>{{error_dict['ip']}}</span>
        {% end %}
        <input type="submit" />
    </form>
</body>
</html>
