/*p{*/
            /*background-color: aqua;*/
            /*color:darkblue;*/
            /*width: 300px;*/
            /*height: 300px;*/
        /*}*/

p{
            background-color: aqua;
            color:darkblue;
            width: 300px;
            height: 300px;
        }