<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>抽屉新热榜</title>
    <link rel="stylesheet" href='{{static_url("common.css") }}' />
    <link rel="stylesheet" href='{{static_url("plugins/bootstrap/css/bootstrap.css") }}' />

</head>
<body>
<div class="pg-header">
    <div class="w">
        <a class="logo" href="/"></a>
        <div class="act-menu">
            <a href="/all/hot/recent/1" class="tb active">全部</a>
            <a href="/all/hot/recent/1" class="tb">42区</a>
            <a href="/all/hot/recent/1" class="tb">段子</a>
            <a href="/all/hot/recent/1" class="tb">图片</a>
            <a href="/all/hot/recent/1" class="tb">挨踢1024</a>
            <a href="/all/hot/recent/1" class="tb">你问我答</a>
        </div>
        <div class="key-sera">

            <form action="/search/show" method="post" name="searchFrm2" id="searchFrm2">
                <input type="text" class="search-txt-s" name="words" id="txtSearch2" autocomplete="off">

                <a href="javascript:;" class="i" name="searchBtn_2" id="searchBtn_3"><span class="ico"></span></a>
                <input type="hidden" value="1" id="page" name="page">
            </form>

        </div>

        <div class="action-nav">
            <a href="/show/flow/1" style="float:left;position:relative;" id="btnDtaiShw">动态
                <b class="notice-num-title" id="Dtai-num-title" style="right: 3px; display: none;">
                    <em id="Dtai-em"></em>
                </b>
            </a>
            <a href="javascript:;" id="btnNotShw" class="notice-box">通知
                <b class="notice-num-title" id="notice-num-title" style="display: none;">
                    <em id="notice-em"></em>
                    <i>+</i>
                </b>
            </a>

            {% if user_info['is_login'] %}
            <a href="/user/link/saved/1" id="loginUserNc" class="userPro-Box">
                <img src="http://img2.chouti.com/CHOUTI_05B313F703D34646848BCC5571510683_W148H148=30x30).jpg" id="userProImg">
                <span class="u-nick" id="userProNick">{{user_info["username"]}}</span>
                <em id="userProArr"></em>
            </a>
            {% else %}
                <a onclick="Login();">登录</a>
                <a>注册</a>
            {% end %}
        </div>
        <div class="user-opr-box" id="userOprBox" style="left: 869px; display: none;">
            <a href="/user/link/saved/1" style="border-top:0;">我的新热榜</a>
            <a href="/profile">设置</a>
            <a class="logout" href="javascript:;">退出</a>
            <a href="http://www.chouti.com/cdu_45792645155" target="_blank" class="ie6-a">我的收藏</a>
        </div>

    </div>
</div>

<div class="pg-body">

    <div style="background-color: #eee;">
        <div class="w body-content">
            <div class="clearfix">
                <div class="content-l" >
                    <div class="nav-top-area">
                        <div class="child-nav">
                            <!-- 当不是全部页面时 -->
                            <a href="/r/pic/hot/1" hidefocus="false" class="icons active hotbtn" id="hotts-nav-btn">最热</a>
                            <a href="/r/pic/new/1" hidefocus="false" class="newbtn" id="newest-nav-btn">最新</a>
                            <!-- 当是全部页面时 -->
                        </div>
                        <!-- 当是全部页面时 -->
                        <a href="javascript:void(0);" onclick="Publish();" class="publish-btn" id="publishBtn" lang="pic">
                            <span class="ico n1"></span><span class="n2">发布</span>
                        </a>

                    </div>


                    <div class="content-list" id="content_list">
                        {% for new in new_list %}
                            <div class="item">

                                <div class="timeIntoPool">1458285240218000,1458288835879000</div>

                                <div class="news-pic">
                                    <img lang="8118680" original="http://img2.chouti.com/CHOUTI_18A9ECD30D9044D8872301BDC8FD4460_W265H265=C60x60.jpg" src="http://img2.chouti.com/CHOUTI_18A9ECD30D9044D8872301BDC8FD4460_W265H265=C60x60.jpg" alt="抽屉新热榜" style="display: inline;">
                                </div>

                                <div class="null-item"></div>

                                <div class="news-content" id="newsContent8118680">
                                    <div class="part1">
                                        <a href="http://wallstreetcn.com/node/232597" class="show-content" target="_blank" onmousedown="linksClickStat(8118680);">{{new['title']}}</a>
                                        <span class="content-source">-wallstreetcn.com</span>
                                        <!-- 段子和谣言类别不显示类别名称 -->
                                        <a href="/r/news/hot/1" class="n2"><span class="content-kind">42区</span></a>
                                        <!-- 来源手机客户端 -->
                                        <!-- 显示话题标签 -->
                                    </div>
                                    <!-- 显示摘要 -->
                                    <div class="area-summary">
                                        <span class="summary">{{new['content']}}</span>
                                    </div>
                                    <div class="part2" share-pic="http://img2.chouti.com/CHOUTI_AD764B84163A4A8093C2BF54CEAA4AAB_W400H266.jpg" share-title="进入调整期？深圳二手房成交较年初锐减30%" share-summary="多家中介数据显示，深圳3月二手房成交量比1月下降超过30%，新房成交量同样出现下降。分析称，政策收紧预期较大程度上影响了市场成交，而业主方多看好后市，双方存在一定博弈。预计4月评估价调整政策落地后，二手房市场或进入短暂调整期。" share-linkid="8118680" share-subject="42区">
                                        <a href="javascript:;" class="digg-a" title="推荐"><span class="hand-icon icon-digg"></span><b>7</b><i style="display:none">8118680</i></a>
                                        <a href="javascript:;" class="discus-a" id="discus-a-8118680" lang="8118680" title=""><span class="hand-icon icon-discus"></span><b>4</b></a>
                                        <a href="javascript:;" class="collect-a" id="collect-a-8118680" lang="8118680" title="加入私藏" destjid="cdu_45792645155" jid="chouti150326"><span class="hand-icon icon-collect"></span><b>私藏</b></a>
                                        <a href="/user/chouti150326/submitted/1" class="user-a"><span><img src="http://img2.chouti.com/group11/M00/07/D0/wKgCPlUvbAWP7voYAAAZHLh58GA463=15x15.jpg"></span><b>wallstreetcn</b></a>
                                        <span class="left time-into"><a class="time-a" href="/link/8118680" target="_blank"><b>1小时18分钟前</b></a><i>入热榜</i></span>
                                        <!-- 分享各微博的按钮 -->

                                        <span class="share-site-to" style="visibility: hidden;"><i>分享到</i><span class="share-icon"><a class="icon-sina" id="icon-sina" title="分享到新浪微博" href="javascript:;" hidefocus="true"></a><a class="icon-douban" id="icon-douban" title="分享到豆瓣" href="javascript:;" hidefocus="true"></a><a class="icon-qqzone" id="icon-qqzone" title="分享到QQ空间" href="javascript:;" hidefocus="true"></a><a class="icon-tenxun" id="icon-tenxun" title="分享到腾讯微博" href="javascript:;" hidefocus="true"></a><a class="icon-renren" id="icon-renren" title="分享到人人网" href="javascript:;" hidefocus="true"></a><a class="share-none"> </a></span></span></div>

                                </div>

                            </div>
                        {% end %}



                    </div>
                </div>
                <div class="content-r">

                </div>
            </div>
        </div>
    </div>

</div>

<!--引入bootstrap模态框-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">用户登录</h4>
      </div>

        <form action="/login" method="post">
        <div class="modal-body">

          <div class="form-group">
            <label class="control-label">用户名:</label>
            <input type="text" name="username" class="form-control" >
          </div>
          <div class="form-group">
            <label  class="control-label">密码:</label>
            <input type="password" name="pwd" class="form-control" >
          </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">提交</button>
          </div>

        </form>

    </div>
  </div>
</div>

<div class="modal fade" id="pub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">发布新闻</h4>
      </div>
        <form action="/publish" method="post">
        <div class="modal-body">

          <div class="form-group">
            <label class="control-label">标题:</label>
            <input type="text" name="title" class="form-control" >
          </div>
          <div class="form-group">
              <label  class="control-label">内容:</label>
              <textarea class="form-control" name="content"></textarea>
          </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">提交</button>
          </div>
        </form>
    </div>
  </div>
</div>


<script src='{{static_url("jquery-3.2.1.js") }}'></script>
<script src='{{static_url("plugins/bootstrap/js/bootstrap.js")}}'></script>

<script>
    $(function(){
        $('#loginUserNc,#userOprBox').mouseover(function(){
            $('#userOprBox').css('display', 'block');
            $('#loginUserNc').addClass('active');
        }).mouseout(function () {
            $('#userOprBox').css('display', 'none');
            $('#loginUserNc').removeClass('active');
        })
    });
    function Login() {
        $('#login').modal('show');
    }
    function Publish() {
        $('#pub').modal('show');
    }
//    function Login() {
//        $('#login').modal('show');
//    }
//    function Publish() {
//        $('#pub').modal('show');
//    }
</script>
</body>
</html>

