<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <p>
        <input type="button" onclick="XmlSendRequest();" value='Ajax请求' />
    </p>


    <script type="text/javascript" src="/statics/jquery-1.12.4.js"></script>
    <script>

        function XmlSendRequest(){
            $.ajax({
                //url：请求地址
                url: "/index"
                //type：请求方式，GET、POST（1.9.0之后用method）,
                type: 'POST',
                //data：要发送的数据
                data: {'k1': 'v1'},
                //dataType：将服务器端返回的数据转换成指定类型,"text": 将服务器端返回的内容转换成普通文本格式
                dataType: 'text',
                //function中data：后台返回的数据，statusText状态码，xmlHttpRequest：jQuery内部创建的xmlHttpRequest对象
                success: function(data, statusText, xmlHttpRequest){
                    console.log(data);
                }
            })
        }


    </script>
</body>
</html>
