<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="checkbox" name="auto" value="1" />7天免登陆
        <input type="button" value="登录" onclick="SubmitForm();" />

        <script>
            xhr = null;
            function SubmitForm() {
//                触发事件，创建一个xml对象
                var xhr = new XMLHttpRequest();
//                打开一个链接,最后一个参数默认为true就好，为false时页面会锁死
                xhr.open('GET', '/login', true);
//                绑定一个事件/回调函数，当readyState（XmlHttpRequest对象的一个属性）的值改变时自动触发执行其对应的函数（回调函数）
                xhr.onreadystatechange = func;
//                 用于发送请求 参数：body： 要发送的数据（字符串类型）
                xhr.send();
            }
            
            function func() {
                console.log(1);
            }
        </script>

</body>
</html>